@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/Utils.css";
@import "./styles/Spacing.css";
@import "./styles/Colors.css";

:root{
    --primary-color: #F48120;
    --primary-light-color: #FEF2E9;
    --white-color: #FFFFFF;
    --gray-color: #828282;
    --gray-700-color: #4F4F4F;
}


.text-primary {
  color: var(--primary-color) !important;
}

.text-gray {
  color: var(--gray-color) !important;
}
.text-gray-700 {
  color: var(--gray-700-color) !important;
}

.text-white {
  color: var(--white-color) !important;
}
.bg-white {
  background-color: var(--white-color) !important;
}
.bg-white-25 {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-primary-disabled {
  background-color: rgba(244, 194, 154, 0.5) !important;
}

.bg-primary-light {
  background-color : var(--primary-light-color);
stroke-width: 8px;
stroke: rgba(244, 129, 32, 0.03);
}

.text-center {
  text-align: center !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.active-radio:checked {
  background-color: #F48120 !important;
}

/* .border-red {
  border-color:  red !important;
} */